*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
  nav { display: flex;
     justify-content: space-between; padding: revert; width: 100%; height: 76px; align-items: center; background-color: gainsboro; }
nav a{
    text-decoration: none;
    font-size: 96%;
    font-weight: bold;
    
}
nav:hover{
    color: blue;
}
nav a h6 {
    margin-left: 13px;
    text-decoration: none;
    font-weight: bolder;
    color: rgb(9, 3, 1);
    font-size: 150%;
    font-weight: 800;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: black;
    text-decoration: none;
    padding: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.banner {
    width: 100%;
    height: 666px;
    background-image: url(https://img.freepik.com/free-vector/shiny-white-gray-background-with-wavy-lines_1017-25101.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-end;
}
.banner-details{
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.banner-img{
    width: 50%;
    overflow: hidden;
    position: relative;
}

.banner-img:hover .shape{
    right: 24%;
}
.banner-img:hover .man{
    right: 20%;
}
span{
    color: orange;
}
p{
    font-size: 138%;
}
.details{
    width: 100%;
    height: 610px;
    background-image: url('https://thumbs.dreamstime.com/b/simple-white-brick-wall-light-gray-shades-seamless-pattern-surface-texture-background-banner-wide-panorama-format-simple-137027626.jpg');
    background-size: 100% 100%;

}   
h3{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}
.details p{
    justify-content: center;
    margin: 6%;
}
.skills{
    width: 100%;

    background-image: url('https://img.freepik.com/free-vector/shiny-white-gray-background-with-wavy-lines_1017-25101.jpg');
    background-size: 100% 100%;

}
.skills ul h2{
    text-align: center;
    font-size: 50px;
    

}
.skills ul li{
    display: flex;
    font-size: 40px;
    font-family: sans-serif;
    text-transform: capitalize;
}
.logo2{

    position: relative;

}
.logo2 .py{
    width: 35%;
    position: relative;
    top: 5%;
  
}
.logo2 .html {
    width: 62%;
    height: 64%;
    position: absolute;
    top: 21%;
    left: 37%;
}
.logo2 .c {
    width: 29%;
    height: 63%;
    position: absolute;
    top: -53%;
    left: 68%;
}

.projects h2{
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 40px
}
.projects{
    width: 100%;
    height: auto;
    background-image: url('https://thumbs.dreamstime.com/b/simple-white-brick-wall-light-gray-shades-seamless-pattern-surface-texture-background-banner-wide-panorama-format-simple-137027626.jpg');
    background-size: 100% 100%;
}
.projects a{
    text-decoration: none;
    border: 2px solid beige;
    display: inline;
    text-transform: uppercase;
    color: black;
    text-align: center;
}
.archivements{
    width: 100%;
    height: auto;
    background-image: url('https://img.freepik.com/free-vector/shiny-white-gray-background-with-wavy-lines_1017-25101.jpg');
    background-size: 100% 100%;
}
.archivements h2{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}
.archivements ol{
    text-align: left;
    font-size: 20px
}
.archivements .trophy{
    width:70%;
    height: 45%;
    margin-left:20%;
    border-radius: 50%;

}
.tribute{
    display: flex;
    justify-content: space-around;
    padding:0px 10px;

}
.tribute a{
    border: 1px solid blueviolet;
    font-size: 20px;
    background-color: beige;
}
.cat{
    display: flex;
    justify-content: space-between;
    padding: auto;
}
.contact{
    width: 100%;
    height: auto;
    background-image: url('https://thumbs.dreamstime.com/b/simple-white-brick-wall-light-gray-shades-seamless-pattern-surface-texture-background-banner-wide-panorama-format-simple-137027626.jpg');
    background-size: 100% 100%;

}
fieldset{
width: 80%;
height: 200%;
font-size: 20px;
    background-color: #ccc;
    background-size: 70%;
    margin-left: 10%;
    border: 1px;
    border-radius: 3px;
    display: inline;
    justify-content: center;
    align-self: center;
}
input[type="text"], input[type="email"], input[type="number"], select {
    width: 70%;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
button{
    font-size: 30px;
    width: 35%;
    margin: 3%;

    border-radius: 5px;
}
footer{
    background-color: rgba(228, 228, 228, 0.771);
    padding: 20px;
    font-size: 18px
}


.tribute{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cats{
    width: 46%;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 2px 3px 5px #333;
    margin: 10px;
    background-color: white;
}
.cats img{
    width: 100%;
        height: fit-content;

    object-fit: cover;
}
.trophy img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-img .man { position: absolute; z-index: 999; right: 14.5%; top: 36%; width: 49%; }
.banner-img .shape {
    width: 60%;
    right: 5%;
    top: 38%;
    position: absolute;
    transition: .5s ease-in;
}
